<h1>Product Details</h1>
<div class="container">
    <form (ngSubmit)="Products()">
        product id:
        <input type="text" formControlName="productid"/>
        <br>
        product name:
        <input type="text" formControlName="productname"/>
        <br>
        product brand:
        <input type="text" formControlName="productbrand"/>
        <br>
        product rating:
        <input type="text" formControlName="productrating"/><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>